<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/tachyons.css">

    </head>
    <body>

        <div class="">

          <nav class="pa3 pa4-ns">
            <a class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns" href="/" title="Home">{{ site.name }}</a>
            <div class="tc pb3">
              <a class="link dim gray f6 f5-ns dib mr3" href="/" title="Home">Home</a>
              <a class="link dim gray f6 f5-ns dib mr3" href="#" title="About">About</a>
              <a class="link dim gray f6 f5-ns dib" href="#" title="Contact">Contact</a>
            </div>
          </nav>


          {{ content }}

          <div class="">
            <div class="">
              <p>
                Your Name is<br />
                What You Are<br />
                you@example.com
              </p>
            </div>
            <div class="">
              <p>
                <a href="https://github.com/yourusername">github.com/yourusername</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
